body{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 12pt;
		background: #dfe4ea;
		color: #2d3436;	
}


#navbarMenu>a{
	color: #ffffff;
}

a:link{
	text-decoration: none;
}

.btnMenu{
	background: 
	width: 140px;
	height: 45px;
	border-radius: 0px;
	margin-left: 2px;
	margin-right: 2px;
	font-size: 12pt; 
	padding-left: 10px;
	transition: all 0.3s cubic-bezier(1.000, -0.530, 0.405, 1.425);
}

.logo{
	color: #000;
	text-decoration: none;
}

.sombra{
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
	0 3px 1px -2px rgba(0, 0, 0, 0.12), 
	0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.btnMenu:hover{
	margin-left: 10px;
	margin-right: 10px;
	transform: scale(1.1);
}

.btnMenu2{
	transition: all 0.5s cubic-bezier(0.3, 0.6, 0.8, 1.1);
	margin-right: 0.5rem;  
}
.btnMenu2:hover{
	transform: rotate(360deg);
	margin-right: 0.5rem;
	margin-left: : 0.5rem;
}

.btnMenu3{
	background: 
	width: 140px;
	height: 45px;
	border-radius: 0px;
	margin-left: 2px;
	margin-right: 2px;
	font-size: 12pt; 
	padding-left: 10px;
	transition: all 0.3s cubic-bezier(1.000, -0.530, 0.405, 1.425);
}
.btnMenu3:hover{
	transform: scale(1.1);
}




.custab{
    border: 1px solid #ccc;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
}

#tabela{
	max-height: 40rem;
	overflow-y: auto;
}


.containerConv {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.containerConv::after {
    content: "";
    clear: both;
    display: table;
}

.containerConv img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.containerConv img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}